flying-bird-spring/src/main/resources/META-INF/reference.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.letv.com/schema/flying-bird/reference"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
    targetNamespace="http://www.letv.com/schema/flying-bird/reference"
    elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans" />
    <xsd:element name="reference">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="class" type="xsd:string"
                        use="required" />
                    <xsd:attribute name="retries" type="xsd:int"
                        default="0" />
                    <xsd:attribute name="loadblance" type="xsd:string"
                        default="roundrobin" />
                    <xsd:attribute name="timeout" type="xsd:int"
                        default="3000" />
                    <xsd:attribute name="registry" type="xsd:string"
                        use="required" />
                    <xsd:attribute name="cluster" type="xsd:string"
                        default="failfast" />
                    <xsd:attribute name="url" type="xsd:string" />
                    <xsd:attribute name="version" type="xsd:string"
                        use="required" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>  
