flying-bird-spring/src/main/resources/META-INF/service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.letv.com/schema/flying-bird/service"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
    targetNamespace="http://www.letv.com/schema/flying-bird/service"
    elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans" />
    <xsd:element name="service">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="interface" type="xsd:string"
                        use="required" />
                    <xsd:attribute name="service-ref"
                        type="xsd:string" use="required" />
                    <xsd:attribute name="registry" type="xsd:string"
                        use="required" />
                    <xsd:attribute name="version" type="xsd:string"
                        use="required" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>  
